@CHARSET "UTF-8";

/* Kind of resetting */
body {

    margin: 0;
    padding: 0;
    text-align: left;
    font-family:"Andale Mono", Georgia, "Times New Roman", Times, serif;
    font-size: 14px;
    color: #061C37;
    position: relative;
    background:#2ba6cb;

;
}

.navigation {

    display:block;
    height: auto;
    position: relative;
    width:auto;
    overflow: hidden;
    background-color: #222222;


}

body p  { padding: 0 2% 0 2%; }
/*body::after{label: "amount" } { padding-bottom: 80px}   */

body h2, body h4, body form { padding: 0 2% 0 2%; }

form h1 { padding: 0; margin-left: 0}

a:hover { background-color: #137795; }

.navigation-name {

    position: relative;
    display: block;
    padding: 1%;
    margin-left: 2%;
    margin-right:40%;
    font-size: 20px;
    font-weight: bold;
    color: #ecf8ff;
    float: left;
    border-bottom-style: none;

}

nav li  {

    font-size: 16px;
    display: inline-table;
    position: relative;
    list-style: none;
    padding: 0 30px;
    border-radius: 10px;
    float: right;

}




/* links on the navigation bar */
/*#navigation-content a[href] {

    position: relative;
    padding: 1%;
    display: inline-block;
    font-size: 16px;
    margin-right: 2%;
    float: right;
}*/



/*nav ul ul {
    display: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul {
    background: #333333;
    background-image: linear-gradient(top, #444444 0%, #808080 100%);
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%);
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%);
    box-shadow: 0 0 9px rgba(0,0,0,0.15);
    padding: 0 20px;
    border-radius: 10px;
    list-style: none;
    position: relative;
    display: inline-table;
}
nav ul:after {
    content: ""; clear: both; display: block;
}*/

/*/////////////////////// NAVIGATION END //////////////////////////*/
 a {
     color: #ecf8ff;
     text-decoration: none;

}
/* home picture */
#main_picture .picture{

    position: relative;
    width: 1273px;  /* 650px; */
    height:486px;/*406px;*/

    padding: 40px 0 40px 0;
    left: 3%;
    background: url(images/cloudysky_large.jpg) no-repeat center;
}

/* message to the world on the picture*/
.picture p:first-of-type {

    margin-right: 3%;
    position: absolute;
    display: block;
    width: 350px;
    padding:30px 0 0 10px;
    height:382px;
    font-size: 2.0em;
    color: #fff;
    background: rgba(204, 204, 204, 0.80);
    right: 0;

}

#headerTitle {

    position: relative;
    display: inline;
    top:30px;
    left:40px;
    font-size:25px;
    color:#FFFFFF;

}
/*EXPERIMENTS*/
.experiments{
    padding: 12%;
    font-size: 16px;
    background: #FFFFFF

}
.experiments li { font-size: 26px}
.experiments a {color: #061C37}
#headerSubtext {

    position:relative;
    display: inline;
    top:30px;
    left:40px;
    font-size:14px;
    color: #FFFFFF;

}
/*LOGIN */
.login {
     padding: 12%;
     background:#FFFFFF ;
}
 /* one type of information */
.note {


    background-color: #d8f7fd;
    height: auto;
    padding: 0 0 2% 0;

}
/* another type of info before the footer*/
.note2 {

    padding: 0 0 2% 0;
    background-color: #f8f8f8;

}
.webshop {

    padding: 0 0 4% 4%;
    width: auto;
    height: auto;
    background-color: #f8f8f8;

}

h1 {

    font-size: 2.5em;
    font-weight: bold;
    padding:2% 0 1% 0;
    margin: 0 40px 4px 2%;
    border-bottom: solid #444444;

}

/* style for experiments 1 messages from guest book */
h2 + h1, h2 + h4, h4 + p, h1 + p{ margin-top: 2px }

p  { font-size: 1.3em; padding: 1% 0 1% 0; }
#about{
    padding: 2%;
}
/* Form guest book*/

label {
    font-weight: bold;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 4px;
    display: block;
}

input[type=text] { width: 400px; }

textarea {
    width: 400px;
    height: 150px;
}
/* to center the gallery and other elements*/

#center-the-stuff img {

    display: inline-block;
    padding: 1%;
    margin-left: 75px;
}

#creative_commons img{
    margin-left: 10px;
    display: inline;
    float: left;
}
/* Web-shop */

.item_block {
    display: inline-block;

    padding: 2% 30% 4% 0;

}
.item_block input[type=text],
.item_block select
{ width: 110px;}

#user_data{
    width: 400px;
    display: block;
    padding: 2% 0 4% 0;
}
/* footer */
/* footer */
#pageFooter {

    position: relative;
    color:  #999999; /*#ffffff*/
    background: rgb(44, 64, 65);
    padding-top: 1.5em;
    padding-bottom: 1%;
    height: 100px;

}
/* TOP MARGIN */
.social, #licence_box{ margin-top: 20px; }

#licence_box{

    position: relative;
    display: inline;
    float: left;
    min-height: 1px;
    padding: 0 5px;
    width: 66%;
}

#creative_commons{

    float: left;
    margin-left: 10px;

}
.text{

    float: left;
    min-height: 1px;
    padding: 0 0 0 5px;
    position: relative;
    width: 100%;
    display: inline;
    margin-left: 5px;

}

#oscar{ color: #eeeeee; }

.social{

    width: 360px;
    display: block;
    float: right;

}

.social li{

    list-style-type: none;
    display: block;
    padding-right: 10px;
    float: left;
    margin-left: 10px;

}

.social li a{

    display: block;
    height: 50px;
    width: 50px;
    background: url("images/social2.png") no-repeat center;

}
.social li a:hover {
    opacity: 0.8;
}
.social li a.twitter {
    background-position: center 0;
}
.social li a.facebook {
    background-position: center -200px;
}
.social li a.mail {
    background-position: center -400px;
}
.social li a.github {
    background-position: center -550px;
}