@charset "utf-8";

body {
    background-color: #fff;
    color:#000;
    margin-left:50px;
}
label {
    font-weight: bold;
    display: block;
}
input[type=text] {
    width: 250px;
}

textarea {
    width: 400px;
    height: 150px;
}
img {
    padding: 10px;
}
fieldset {
    border: none;
}

legend {
    font-weight: bold;
}